:root {
    --dusty-carnation: rgba(179, 126, 173, 0.274);
    --boned-in: rgb(219, 217, 211);
    --chardust: rgba(174, 165, 171, 0.501);
    --carnwilt: rgba(182, 157, 174, 0.629);
    --dustyrhubarb: rgba(171, 90, 140, 0.253);
}

/*elements colors to change once chosen*/
::selection {
    background-color: var(--dustyrhubarb);
    color: var(--dustyrhubarb);
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px
}

body {
    background-color: var(--boned-in);
}

/* header */
header {
    background-color: var(--chardust);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    width: 100%;
}

header h1 {
    text-align: left;
    /* display: inline; */
    font-family: Helvetica;
    padding-left: 2.5rem;
}

ul {
    display: flex;
    list-style: none;
    padding-right: 2rem;
}

nav ul li {
    padding: 0 0.5rem;
}

p {
    display: flex;
    flex-wrap: wrap;
}

flex {
    flex: 0 0 25%;
}

h2 {
    padding-left: 2rem;
    font-family: Helvetica;
}

a {
    font-family: Helvetica;
}


/* About Me */
section {
    flex: content;

}

section h2 {
    padding-left: 2rem;
    margin: 0.5rem;
}

section p {
    font-family: Helvetica;
    padding-left: 3rem;
    padding-right: 2rem;
}


/*hero area*/
main {
    padding-left: 2rem;
    margin: 2rem;
}

.genone {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.gentwo {
    width: 100%;
    height: 200px;
    justify-content: space-around;
    background-color: var(--dusty-carnation);
    border-radius: 5px;
}

/*mouse hover over hero */
.genone:hover,
.gentwo:hover {
    box-shadow: 0 0 4px;
    background-image: linear-gradient(var(--carnwilt) 100%, var(--chardust) 0%);
}

/* work header */
figure {
    flex: 0 0 100%;
}

figure h2 {
    text-align: left;
}

/* work boxes */
article {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    margin: 2rem;
    justify-content: start;
}

article .secondary {
    margin: 5px;
    font-family: Helvetica;
}

/* boxes */
.primary {
    flex: 1 0 100%;
    align-items: center;
}

.secondary {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 250px;
    background-color: var(--dusty-carnation);
    border-radius: 5px;
}

.work h3 {
    border: solid 2px;
}

/*work box hover with curser */
.secondary:hover {
    box-shadow: 0 0 4px;
    background-image: linear-gradient(var(--carnwilt) 100%, var(--chardust) 0%);
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, Arial;
    background-color: var(--chardust);
    padding: 2rem 0rem;
    width: 100%;
}

footer h2 {
    display: flex;
}

footer ul li {
    padding: 0 0.5rem;
}


@media screen and (max-width: 998px) {
    header {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        width: 100%;
    }

    article {
        flex-wrap: wrap;
        display: flex;
    }
}

@media screen and (max-width: 772px) {
    header {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        width: 100%;
    }

    article {
        flex-wrap: wrap;
        display: flex;
    }
}